body{
    background-image:url(Backgrounds/wallpaperflare.com_wallpaper\(6\).jpg);
    background-position: center;
    background-size:cover;
}
.login-mid{
   max-width: 800px;
   float: none;
   margin: 250px auto;
}